body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    padding-top: 100px;
    background-color: white;
    font-family: 'Helvetika';
    line-height: 40px;
}
.form-sigin{
    width: 100%;
    max-width: 37%;
    padding: 15px;
    margin: auto;
    
}
.form-sigin input[type="email"]{
    margin-bottom: -2px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-sigin input[type="password"]{
    margin-bottom: 12px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}
