html,body {
    font-family: 'helvetika';
    width: 1440px;
    height: 500px;
}
#header{
    background: #f1f3ff;
}
.mobil{
    position: relative;
    width: 704px;
    height: 407px;
    top: 100%;
}
.human{
    width: 374px;
    height: 366px;
    left: 100px;
}
.headinng2{
 
    position: absolute;
    width: 568px;
    height: 108px;
    left: 136px;
    top: 177px;
font-family: "Helvetica";
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 150%;

}
#kotak{
    position: relative;
    bottom: 15%;
    width: 78%;
    height: 28%;
    padding: 1px 10px 1px 10px;
    background: #ffff;
   box-shadow:  rgb(0, 0, 0, 0.15);
   border-radius: 8px;;
}
#kotak1{
    position: relative;
    bottom: 15%;
    width: 72%;
    height: 50%;
    top: 80px;
    padding: 1px 10px 1px 10px;
    background: #ffff;
   box-shadow:  rgb(0, 0, 0, 0.15);
   border-radius: 8px;;
}
#bebas{
    color: black;
    
}
#car{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15); 
    border-radius: 8px;
}